@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  scroll-behavior: smooth;
}

a {
  @apply hover:underline;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.dark body {
  background-color: #111827;
  color: #f9fafb;
}
.dark .navbar {
  background-color: #1f2937;
  color: white;
}
.dark .button {
  color: #e5e7eb;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 0s linear infinite;
}
@media (min-width: 768px) {
  .timeline-center::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #C33235;
    transform: translateX(-50%);
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .timeline-center::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #C33235;
    transform: translateX(-50%);
    z-index: -1;
  }
}


