@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  scroll-behavior: smooth;
}

a {
  @apply hover:underline;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
